/* contact form */
.contact-form {
   max-width: 600px;
}
.form-row {
   display: flex;
   align-items: center;
   margin-bottom: 1em;
}
.form-row label {
   flex: 1;
   text-align: right;
   margin-right: 1em;
}
.form-row input, .form-row textarea {
   flex: 2;
   padding: 0.5em;
   border-radius: 0.5em;
}
#contact-form button {
   display: block;
   margin: 2em auto;
   padding: 0.5em 2em;
   border-radius: 0.5em;
   font-family: monospace;
   font-size: 1em;
}
.contact-form input, .contact-form textarea {
   background-color: #f0f0f0;
   width: 100%;
   max-width: 500px;
   box-sizing: border-box;
   padding: 0.5em;
}

/* mobile styling */
@media (pointer: coarse) {
   .contact-form {
      font-size: 2.6em;
   }
   .form-row input,
   .form-row textarea {
      font-size: 1em;
   }
   .status-message {
      font-size: 2.6em;
      margin: 1em 1em 4em 1em;
   }
}