<footer>
  <div class="ancillary-container">
    <a href="../../index.html">
      <img src="../../images/icons/home.png" alt="home" class="footer-icon">
    </a>
    <a href="../../pages/ancillary_matter/contact.html">
      <img src="../../images/icons/mail.png" alt="contact" class="footer-icon">
    </a>
    <a href="../../pages/ancillary_matter/resources.html">
      <img src="../../images/icons/resources.png" alt="resources" class="footer-icon">
    </a>
    <img src="../../images/icons/dark.png" alt="Toggle Dark Mode" class="toggle-img" onclick="toggleDarkMode()">
  </div>
  <div class="social-icons">
    <a href="https://www.tiktok.com/@empathycast" target="_blank">
      <img src="../../images/icons/tiktok.png" alt="tiktok" class="social-icon">
    </a>
    <a href="https://www.instagram.com/empathycast" target="_blank">
      <img src="../../images/icons/instagram.png" alt="instagram" class="social-icon">
    </a>
    <a href="https://www.youtube.com/channel/empathycast" target="_blank">
      <img src="../../images/icons/youtube.png" alt="youtube" class="social-icon">
    </a>
  </div>
</footer>
